ambiente de teste.json
{
  "name": "ambiente de teste",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "WPP",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1856,
        64
      ],
      "id": "7cdb6640-22bc-43f8-9b6d-59f4f62e7515",
      "name": "Webhook1",
      "webhookId": "bccbc381-0262-4319-9235-a351d6b99646",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://docla.sz.chat/api/v4/auth/login",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"email\": \"suporte@docla.com.br\",\n  \"password\": \"Suporte2026\",\n  \"device_token\": \"string\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2080,
        64
      ],
      "id": "69e04ecb-64dd-4267-bf27-35dd53b17969",
      "name": "Login"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://docla.sz.chat/api/v4/message/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Login\"].json[\"token\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel_id\": \"{{ $json.channel_id }}\",\n  \"platform_id\": \"{{ $json.platform_id }}\",\n  \"type\": \"text\",\n  \"is_hsm\": true,\n  \"hsm_template_name\": \"{{ $json.hsm_template_name }}\",\n  \"hsm_placeholders\": {{ JSON.stringify($json.hsm_placeholders) }},\n  \"force\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2864,
        64
      ],
      "id": "e4fdd297-a6e5-4437-8749-3ee346fdf7b6",
      "name": "script de envio1",
      "retryOnFail": true,
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. Dados do Login (Onde está o Token)\nconst loginData = $input.item.json;\n\n// 2. Busca o Webhook de forma absoluta (isso evita o n8n se perder)\nconst dadosWebhook = $items(\"Webhook1\")[0].json;\n\n// 3. Tenta buscar o channel_id que veio do Insomnia\nlet channelId = dadosWebhook.body?.channel_id || dadosWebhook.channel_id;\n\n// 4. PLANO B (SALVA-VIDAS): Se não veio no Insomnia, usa o ID padrão do seu print\nif (!channelId) {\n    channelId = \"67e6b384c5e6300019ecdacb\"; \n}\n\n// 5. Junta tudo e passa para frente\nreturn {\n    json: {\n        channel_id: channelId,\n        token: loginData.token\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        64
      ],
      "id": "b2bd6a81-603b-4af0-bf6e-9d162ba538a0",
      "name": "primeiro nó",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const itensWebhook = $items(\"Webhook1\");\nconst dadosLogin = $items(\"Login\")[0].json;\n\nreturn itensWebhook.map(item => {\n    const corpo = item.json.body || item.json;\n    \n    // 1. Telefone\n    let foneRaw = corpo.platform_id || corpo.phone || \"\";\n    let platform_id = foneRaw.toString().replace(/\\D/g, \"\");\n    if (platform_id && !platform_id.startsWith(\"55\")) platform_id = \"55\" + platform_id;\n\n    // 2. Dados da mensagem\n    const textoOriginal = (corpo.text || \"\").toString();\n    const textoLower = textoOriginal.toLowerCase();\n    const nomeCliente = corpo.customerName || \"Cliente\";\n    const linkExtraido = textoOriginal.match(/https?:\\/\\/\\S+/)?.[0] || \"\";\n\n    // 3. LÓGICA AUTOMÁTICA COM SEUS TEMPLATES REAIS\n    let templateEscolhido = \"\";\n    let placeholders = [];\n\n    if (textoLower.includes(\"folha\") || textoLower.includes(\"pagamento\")) {\n        templateEscolhido = \"informacoes_folha\"; // Nome real do seu arquivo\n        placeholders = [nomeCliente]; // Este template só tem 1 variável\n    } \n    else if (textoLower.includes(\"certificado\") || textoLower.includes(\"vídeo\")) {\n        templateEscolhido = \"chamada_certificado_digital\"; // Nome real do seu arquivo\n        placeholders = [nomeCliente, \"Suporte Docla\"]; // Tem 2 variáveis\n    }\n    else if (textoLower.includes(\"cancelamento\")) {\n        templateEscolhido = \"cancelamento_novo_imagem\"; // Nome real do seu arquivo\n        placeholders = [nomeCliente, linkExtraido]; // Tem 2 variáveis\n    }\n    else {\n        // Se não encontrar nada, usa o de certificado como padrão ou outro que você use muito\n        templateEscolhido = \"chamada_certificado_digital\"; \n        placeholders = [nomeCliente, \"Equipe\"];\n    }\n\n    return {\n        json: {\n            platform_id: platform_id,\n            channel_id: corpo.channel_id || \"67e6b384c5e6300019ecdacb\",\n            hsm_template_name: templateEscolhido,\n            hsm_placeholders: placeholders,\n            token: dadosLogin.token\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        64
      ],
      "id": "db9480dc-b22b-43eb-baca-7e0ec2203986",
      "name": "segundo nó"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "primeiro nó",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "script de envio1": {
      "main": [
        []
      ]
    },
    "primeiro nó": {
      "main": [
        [
          {
            "node": "segundo nó",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo nó": {
      "main": [
        [
          {
            "node": "script de envio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9b235443-3318-4afa-a45a-f420f1db25d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1bda00193ffd0417037785bdeebe54b6ac8d5d646a23f3289d14b3063c757d61"
  },
  "id": "thkkVHWjB0KWhjRt",
  "tags": []
}