ambiente de teste.json
{
  "name": "ambiente de teste",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "WPP",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1856,
        64
      ],
      "id": "7cdb6640-22bc-43f8-9b6d-59f4f62e7515",
      "name": "Webhook1",
      "webhookId": "bccbc381-0262-4319-9235-a351d6b99646",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Captura os dados que vieram do Webhook (ou do nó anterior)\nconst dadosIniciais = $node[\"Webhook1\"].json.body;\n// Captura o que o código processou (usuário/agente)\nconst usuarioAgente = $input.item.json;\n\nreturn {\n  body: dadosIniciais, // Devolve o telefone e texto original\n  user: usuarioAgente  // Mantém os dados do agente se precisar\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        576
      ],
      "id": "70863073-6992-4972-8a4f-c583455f9dc5",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://docla.sz.chat/api/v4/auth/login",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"email\": \"suporte@docla.com.br\",\n  \"password\": \"Suporte2026\",\n  \"device_token\": \"string\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2080,
        64
      ],
      "id": "69e04ecb-64dd-4267-bf27-35dd53b17969",
      "name": "Login"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://docla.sz.chat/api/v4/message/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Login\"].json[\"token\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"platform_id\": \"{{ $json.body.platform_id }}\",\n  \"channel_id\": \"{{ $json.body.channel_id }}\",\n  \"agent_id\": \"{{ $json.body.agent_id }}\",\n  \"type\": \"text\",\n  \"is_hsm\": true,\n  \"hsm_template_name\": \"{{ $json.body.hsm_template_name }}\",\n  \"hsm_placeholders\": {{ JSON.stringify($json.body.hsm_placeholders) }},\n  \"ignore_bot\": false,\n  \"force\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3392,
        576
      ],
      "id": "7cc0e26b-1a31-4749-b4a5-1e718fe105d6",
      "name": "script de envio",
      "retryOnFail": true,
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2832,
        448
      ],
      "id": "871c49e5-2197-4e5d-95db-c0ac306402a2",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2656,
        384
      ],
      "id": "1ee74be1-52b5-43eb-a9f7-21cf5000aaf3",
      "name": "Wait",
      "webhookId": "cd17bfad-fc07-4e8a-acac-ef2b709bcb38",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://docla.sz.chat/api/v4/message/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Login\"].json[\"token\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"platform_id\": \"{{ $json.platform_id }}\",\n  \"channel_id\": \"67e6b384c5e6300019ecdacb\",\n  \"agent_id\": \"69b1aba30e4678b22a079e10\",\n  \"type\": \"text\",\n  \"is_hsm\": true,\n  \"hsm_template_name\": \"{{ $json.hsm_template_name }}\",\n  \"hsm_placeholders\": {{ JSON.stringify($json.hsm_placeholders) }},\n  \"force\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2832,
        64
      ],
      "id": "e4fdd297-a6e5-4437-8749-3ee346fdf7b6",
      "name": "script de envio1",
      "retryOnFail": true,
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2464,
        608
      ],
      "id": "3728c177-32be-43a6-8bb1-1ea743aea348",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const entrada = $input.item.json;\n\nconst lista = Array.isArray(entrada.body) ? entrada.body : [entrada];\n\nreturn lista.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        64
      ],
      "id": "b2bd6a81-603b-4af0-bf6e-9d162ba538a0",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\n\n// TELEFONE\nlet foneRaw = item.phone || item.whatsapp || item.platform_id || item.telefone || \"\";\nconst platform_id = foneRaw.toString().replace(/\\D/g, \"\");\n\n// IDENTIFICAÇÃO\nlet identificador = (item.text || item.motivo || item.tag || \"\").toLowerCase();\nlet nomeCliente = item.customerName || item.name || \"Cliente\";\n\nlet templateEscolhido = \"inicio_conversa_1\";\nlet placeholders = [];\n\n// REGRAS\nif (identificador.includes(\"certificado\") || identificador.includes(\"vídeo\")) {\n    templateEscolhido = \"chamada_certificado_digital\";\n    placeholders = [nomeCliente, \"Equipe Docla\"];\n} \nelse if (identificador.includes(\"folha\") || identificador.includes(\"pagamento\")) {\n    templateEscolhido = \"informacoes_folha\";\n    placeholders = [nomeCliente];\n}\nelse if (identificador.includes(\"assinatura\") || identificador.includes(\"sign\")) {\n    templateEscolhido = \"sign_assinatura\";\n    placeholders = [nomeCliente, \"Contrato.pdf\", \"1234\", \"https://fortics.com.br\"];\n}\nelse if (identificador.includes(\"triagem\") || identificador.includes(\"ajustar\")) {\n    templateEscolhido = \"saudacao_triagem\";\n    placeholders = [\"Equipe Docla\"];\n}\nelse if (identificador.includes(\"cobranca\") || identificador.includes(\"atraso\")) {\n    templateEscolhido = \"cobranca\";\n    placeholders = [nomeCliente, \"Camile\"];\n}\nelse if (identificador.includes(\"cancelamento\")) {\n    templateEscolhido = \"cancelamento\";\n}\nelse if (identificador.includes(\"fiscal\") || identificador.includes(\"suporte\")) {\n    templateEscolhido = \"fiscal\";\n    placeholders = [\"Arthur\"];\n}\nelse if (identificador.includes(\"notas\") || identificador.includes(\"emissão\")) {\n    templateEscolhido = \"solicitacao_de_notas_fiscal\";\n}\nelse if (identificador.includes(\"cnpj\") || identificador.includes(\"resolver\")) {\n    templateEscolhido = \"comeco\";\n}\n\n// 🔥 VALIDAÇÃO CRÍTICA\nif (!platform_id || platform_id.length < 10) {\n    return {\n        json: {\n            skip: true,\n            motivo: \"Sem telefone válido\"\n        }\n    };\n}\n\n// RETORNO\nreturn {\n    json: {\n        platform_id: platform_id.startsWith(\"55\") ? platform_id : \"55\" + platform_id,\n        hsm_template_name: templateEscolhido,\n        hsm_placeholders: placeholders,\n        contact_name: nomeCliente\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        64
      ],
      "id": "db9480dc-b22b-43eb-baca-7e0ec2203986",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "script de envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    },
    "script de envio1": {
      "main": [
        []
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "script de envio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "58afe3df-7b1e-40d2-8234-c5fd0a83dc61",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1bda00193ffd0417037785bdeebe54b6ac8d5d646a23f3289d14b3063c757d61"
  },
  "id": "thkkVHWjB0KWhjRt",
  "tags": []
}